<h3>Current object</h3>
<code>
  {{objectToEdit | json}}
</code>

<h3>Add a field</h3>

<div class="form-group row">
  <div class="col-md-6">
    <label class="form-label" for="fieldName">Field name</label>
    <input class="form-control" type="text" name="fieldName" [(ngModel)]="fieldName">
  </div>

  <div class="col-md-6">
    <label class="form-label" for="fieldValue">Field value ({{inputType}})</label>
    <div [ngSwitch]="inputType">
      <input *ngSwitchCase="'string'" class="form-control" type="text" name="fieldValue" [(ngModel)]="fieldValue">
      <input *ngSwitchCase="'number'" class="form-coontrol" type="number" name="fieldValue" [(ngModel)]="fieldValue">
      <div *ngSwitchCase="'date'" class="row form-group">
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="month">
            <option *ngFor="let month of months; let i = index" [value]="i">
              {{month}}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="day">
            <option *ngFor="let day of days" [value]="day">
              {{day}}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <input class="form-control" type="number" [(ngModel)]="year" placeholder="Year">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">

  <label>Type</label>
  <div class="form-check-inline">
    <input class="form-check-input" type="radio" name="fieldType" id="fieldTypeString" value="string" [(ngModel)]="inputType"/>
    <label class="form-check-label" for="fieldTypeString">String</label>
  </div>

  <div class="form-check-inline">
    <input class="form-check-input" type="radio" name="fieldType" id="fieldTypeNumber" value="number" [(ngModel)]="inputType"/>
    <label class="form-check-label" for="fieldTypeNumber">Number</label>
  </div>

  <div class="form-check-inline">
    <input class="form-check-input" type="radio" name="fieldType" id="fieldTypeDate" value="date" [(ngModel)]="inputType"/>
    <label class="form-check-label" for="fieldTypeDate">Date</label>
  </div>

</div>
<button type="button" class="btn btn-outline-primary" (click)="addField()">Add {{fieldName}} as {{inputType}}</button>
