<form (ngSubmit)="onSubmit()">

<div class="form-group">
  <label for="siteToVisit">Site to visit</label>
  <input type="text" [(ngModel)]="requestUrl" class="form-control" name="siteToVisit" placeholder="www.example.com">
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="includeRequestBody" [(ngModel)]="includeBody">
  <label class="form-check-label" for="includeRequestBody">Include Request Body?</label>
</div>

<div *ngIf="includeBody" class="border rounded p-2 mb-2">
  <app-request-body-editor [objectToEdit]="requestBody"></app-request-body-editor>
</div>

<button type="submit" class="btn btn-primary">Visit site</button>
</form>

<table class="table table-bordered mt-4" *ngIf="logger.logRecords.length > 0">
  <thead class="thead-dark">
    <tr>
      <th>URL</th>
      <th>Request date</th>
      <th>Response date</th>
      <th>Status code</th>
      <th>Content type</th>
      <th>Content length</th>
      <th>Time</th>
    </tr>
  </thead>

  <tr *ngFor = "let logRecord of logger.logRecords">
    <td>{{logRecord.url}}</td>
    <td>{{logRecord.requestDate | date:'short'}}</td>
    <td>{{logRecord.responseDate | date:'short'}}</td>
    <td>{{logRecord.responseCode}}</td>
    <td>{{logRecord.contentType}}</td>
    <td>{{logRecord.contentLength | number}} bytes</td>
    <td>{{logRecord.timeForRequest}}</td>
  </tr>
</table>
